.blog-toc
{
  /*position: sticky;
  top: 2rem;*/
  padding-right: 1rem;
}

@include sticky("blog-toc-", $navbar-header-size + 2 * $navbar-header-vert-margin + 1.2rem);

.blog-toc-title
{
  border: 0.05rem solid #bbc8c8;
  margin: 0;
  padding: 1rem;
  background-color: $primary-background-color;
  color: $primary-foreground-color;
}

.blog-toc-contents
{
  a 
  {
    display: block;
  }
  ul 
  {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    p 
    {
      margin: 0;
    }
  }
  li
  {
    padding: 0.3rem;
    ul 
    {
      margin: 0 1rem;
    }
    a 
    {
      text-decoration: none;
      //border-bottom: 0.01rem solid black;
    }
  }
  border: 0.05rem solid #bbc8c8;
}

.blog-body
{
  li 
  {
    p 
    {
      margin: 0;
    }
  }
}